/* Global Defaults */
html {
  font-family: Verdana, sans-serif;
  color: white;
  scroll-behavior: smooth;
}

body {
  background-color: #f3f3f3;
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: auto;
}

/* Form-related Styling - Buttons/Text Fields */
input[type="text"],
select {
  padding: 10px 15px;
  margin: 10x 0;
  display: inline-block;
  border: 1px solid #7e7e7e;
  border-radius: 3px;
  box-sizing: border-box;
}

.query_download {
  background-color: #f7d334;
  color: black;
  padding: 10px 10px;
  margin: 10px 0 0 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0.5px 10px 0 #00000033, 0 0.5px 10px 0 #00000030;
  cursor: pointer;
}

.query_download:hover {
  background-color: #e0c02e;
  box-shadow: 0 11px 18px 0 #0000003d, 0 15px 50px 0 #00000030;
}

.query_download:active {
  background-color: #9b8420;
  box-shadow: 0 0.5px 10px 0 #00000033, 0 0.5px 10px 0 #00000030;
}

/* Navigation bar Styling */
.navibar {
  height: 100%;
  width: 250px;
  background-color: #182344;
  position: fixed !important;
  z-index: 1;
  top: 0;
  left: 0;
}

.navibar-menu {
  list-style-type: none;
  padding: 0;
  width: 250px;
}

.navibar-item {
  background-color: #182344;
  list-style-type: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  box-sizing: border-box;
}

.top {
  display: block;
  margin: 0;
  padding: 0;
  float: none;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
}

/* Navigation bar TOP Link styling */

.top:link,
.top:visited {
  color: #e9e9e9;
  text-decoration: none;
}

.top:hover {
  text-shadow: 2px 2px 5px black;
}

/* Navigation bar Link styling */
.navibar-link:link,
.navibar-link:visited {
  color: #b8b8b8;
  text-decoration: none;
}

.navibar-link:hover {
  color: rgb(76, 59, 107);
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.navibar-item:hover {
  background-color: #53baff;
}

.query_download_div {
  margin-left: 1300px;
  margin-bottom: 5px;
}

/* Content */
.content {
  /* position: fixed; */
  margin-left: 250px;
  width: 100%;
  top: 0;
  left: 250px;
}

.inner-content {
  margin-left: 30px;
  margin-top: 20px;
}

.section-title {
  position: sticky;
  color: white;
  margin: 0;
  padding: 10px;
  background-color: #182344;
}

.data-display {
  width: 1500px;
  /* height: 700px; */
  border-style: ridge;
  border-radius: 8px;
  background-color: white;
}

.button-container {
  display: flex;
  flex-flow: wrap;
  gap: 25px;
}

#data_table {
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

.button {
  box-sizing: border-box;
  background-color: black;
  color: white;
  border-style: none;
  border-radius: 15px;
  padding: 45px 80px 45px 80px;
  box-shadow: 4px 4px 2.5px gray;
  display: flex;
}

.button:hover {
  box-shadow: 2.5px 5px 9px gray;
}

#overview {
  background-image: linear-gradient(to right, #7efcfcb4, #53ffff);
}

#realtime-data {
  background-image: linear-gradient(to right, #fa8d8dbb, #f75656);
}

#share-of-gas {
  background-image: linear-gradient(to right, #965996b2, #923f92);
}

#at-a-glance {
  background-image: linear-gradient(to right, #7f7ffab9, #4d4dff);
}
